a,
body,
div,
form,
html,
img,
input,
label,
p,
span {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: medium !important;
	font-weight: 500;
}

body,
html {
	min-height: 100%;
	overflow-x: hidden
}

body {
	background: -webkit-linear-gradient(90deg, hsla(125, 100%, 14%, 1) 0, hsla(125, 100%, 14%, 0) 70%), -webkit-linear-gradient(65deg, hsla(125, 100%, 14%, 26.52%, 1) 10%, hsla(220.75, 34.93%, 26.52%, 0) 80%), -webkit-linear-gradient(135deg, hsla(46.42, 36.62%, 83.92%, 1) 15%, hsla(46.42, 36.62%, 83.92%, 0) 80%), -webkit-linear-gradient(205deg, hsla(191.32, 50.68%, 56.45%, 1) 100%, hsla(191.32, 50.68%, 56.45%, 0) 70%);
	background: linear-gradient(200deg, hsla(125, 100%, 14%, 1) 0, hsla(125, 100%, 14%, 0) 70%), linear-gradient(25deg, hsla(125, 100%, 14%, 1) 10%, hsla(220.75, 34.93%, 26.52%, 0) 80%), linear-gradient(315deg, hsla(46.42, 36.62%, 83.92%, 1) 15%, hsla(46.42, 36.62%, 83.92%, 0) 80%), linear-gradient(245deg, hsla(191.32, 50.68%, 56.45%, 1) 100%, hsla(191.32, 50.68%, 56.45%, 0) 70%);
}

a {
	color: #86B4D5
}

input,
label {
	vertical-align: middle;
	white-space: normal;
	background: 0 0;
	line-height: 1
}

label {
	position: relative;
	display: block
}

p::first-letter {
	text-transform: uppercase
}

.main {
	min-height: calc(100vh - 90px);
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	transition: 0.4s ease-in-out;
}

.ie-fixMinHeight {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.ico {
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	margin-top: 14px;
	margin-left: 14px
}

.logo {
	max-width: 200px;
	display: block;
	margin: 0 auto 30px auto
}

.logo * {
	fill: #fff
}

h1 {
	text-align: center;
	color: #fff;
	font-size: 24px !important
}

* {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px
}

.wrap {
	margin: auto;
	-webkit-transition: 0.4s ease-in-out;
	transition: 0.4s ease-in-out;
}

@media only screen and (min-width:1px) and (max-width:575px) {
	.wrap {
		width: 100%;
		padding: 0;
	}
	#lang-switcher {
		right: 20px !important;
		top: 20px !important;
	}
}

form {
	width: 100%;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 6px;
}

@-webkit-keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

@keyframes fadeIn {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}

.animated {
	-webkit-animation-duration: 0.4s;
	animation-duration: 0.4s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}

.info {
	color: #fff;
	text-align: center;
	margin-bottom: 30px
}

input {
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none
}

input:focus {
	outline: 0
}

input[type=password], input[type=text] {
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	height: 44px;
	padding: 3px 20px 3px 40px;
	margin-bottom: 10px;
	border-radius: 6px;
	-webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
	transition: -webkit-box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
	color: rgb(0, 126, 63);
}

input[type=password]::placeholder,
input[type=text]::placeholder,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	color: rgb(0, 126, 63);
	-webkit-text-fill-color: rgb(0, 126, 63);
	-moz-text-fill-color: rgb(0, 126, 63);
	-ms-text-fill-color: rgb(0, 126, 63);
	-o-text-fill-color: rgb(0, 126, 63);
}

.placeholder-opacity-zero::-webkit-input-placeholder {
	transition: opacity 0.2s ease-in-out;
    opacity: 0;
}

.placeholder-opacity-full::-webkit-input-placeholder {
	transition: opacity 0.2s ease-in-out;
    opacity: 1;
}

input[type=password]:focus,
input[type=text]:focus {
	-webkit-box-shadow: 0 0 5px 0 rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 1)
}

.bt {
	opacity: .4
}

#connect {
	width: 100%;
	height: 44px;
	border: 2px solid white;
	border-radius: 6px;
	-webkit-transition: -webkit-box-shadow 0.4s ease-in-out;
	transition: -webkit-box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out;
	transition: box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
	margin-bottom: 10px;
}

#connect:hover {
	-webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 1);
}

#connect-button {
	font-weight: 700;
	letter-spacing: 0px !important;
	cursor: pointer;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	transition: 0.4s;
	background: -webkit-linear-gradient(top, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	background: linear-gradient(top, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	background-position: 50% 100%;
	background-size: 100% 200%;
}

#connect-background {
	position: relative;
	width: 100%;
	height: 100%;
	top: -100%;
	z-index: -1;
	transition: 0.4s;
	transform: translate(0, -50%) scale(1, 0);
	background-color: white;
}

#connect:hover #connect-background {
	transition: 0.4s;
	transform: translate(0, 0%) scale(1, 1);
	background-color: white;
	border-radius: 0 0 2px 2px;
}

#connect:hover #connect-button {
	transition: 0.4s;
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	background-position: 50% 0% !important;
}

#guest-connect {
	text-decoration: underline;
	text-decoration-color: transparent;
	-webkit-text-decoration-color: transparent;
 	-moz-text-decoration-color: transparent;
	color: white;
	text-align: center;
	display: block;
	transition: 0.2s ease-in-out;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none
    user-select: none;
}

#guest-connect:hover, #guest-connect:focus {
	text-decoration-color: white;
	-webkit-text-decoration-color: white;
 	-moz-text-decoration-color: white;
}

.connect-text {
	color: white;
	text-align: center;
	margin: auto;
}

table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 20px
}

table td {
	color: #fff;
	border-bottom: 1px solid #e6e6e6;
	padding: 10px 4px 10px 0
}

table td:first-child {
	font-weight: 700
}

.info.alert {
	color: #da3d41
}

@media (min-width:576px) {
	.wrap {
		width: 410px
	}
	* {
		font-size: 14px !important
	}
}

.wrap[fill-background] {
	padding: 0 !important;
	border-radius: 6px;
}

form[name=login], form[name=logout] {
	margin-bottom: 0 !important;
}

#lang-switcher {
	width: 104px;
	height: 34px;
	border: 2px white solid;
	border-radius: 6px;
	right: 60px;
	top: 60px;
	position: absolute;
	transition: 0.4s ease-in-out;
}

#lang-switcher > div {
	width: 50px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: white;
	font-weight: 700;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	transition: 0.4s ease-in-out;
	position: relative;
}

#lang-switcher > #ukr {
	background: -webkit-linear-gradient(to right, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	background: linear-gradient(to right, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	background-size: 200% 100%;
	background-position: 100% 50%;
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	float: left;
}

#lang-switcher > #eng {
	background: -webkit-linear-gradient(to right, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	background: linear-gradient(to right, rgb(0, 126, 63) 0%, rgb(0, 126, 63) 50%, white 50%,white 100%);
	background-size: 200% 100%;
	background-position: 100% 50%;
	-webkit-background-clip: text;
	background-clip: text;
  	-webkit-text-fill-color: transparent;
	float: right;
}

#lang-background {
	position: relative;
	z-index: -1;
	transition: 0.4s ease-in-out;
	background-color: white;
	border-radius: 3px 0 0 3px;
}

.space-below {
	margin-bottom: 20px;
}